<article class="course-card">
  <div class="thumbnail-wrapper">
    <img class="thumbnail" [src]="course.image" [alt]="course.title" />
    <div class="price-wrapper">
      <span class="price">{{ course.price | currency }}</span>
    </div>
  </div>

  <div class="content">
    <div class="meta-top">
      <div class="categories">
        <span class="category">{{ course.category.name }}</span>
      </div>
    </div>

    <h3 class="title">
      <a [routerLink]="['/courses', course._id]">{{ course.title }}</a>
    </h3>

    <p class="course-description">
      {{ course.description }}
    </p>

    <div class="meta-bottom">
      <div class="meta-item">
        <i class="fa-regular fa-user"></i>
        <span>{{ course.instructor.userName }}</span>
      </div>
    </div>

    <div class="footer">
      <div class="course-actions">
        <a class="details-btn" [routerLink]="['/courses', course._id]">
          <span>Details</span>
          <i class="fa-solid fa-arrow-right"></i>
        </a>

        <button 
          class="add-btn" 
          [class.added]="isInCart || isEnrolled" 
          [disabled]="isEnrolled"
          (click)="onAddToCart()"
        >
          @if (isEnrolled) {
            Enrolled
          } @else if (isInCart) {
            Added
          } @else {
            Add to Cart
          }
        </button>
      </div>
    </div>
  </div>
</article>
